<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="conference">
            <h2><span jhiTranslate="msIgniteApp.conference.detail.title">Conference</span> {{conference.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="msIgniteApp.conference.name" [ngbTooltip]="'msIgniteApp.conference.help.name' | translate">Name</span></dt>
                <dd>
                    <span>{{conference.name}}</span>
                </dd>
                <dt><span jhiTranslate="msIgniteApp.conference.schedule">Schedule</span></dt>
                <dd>
                    <span>{{conference.schedule}}</span>
                </dd>
                <dt><span jhiTranslate="msIgniteApp.conference.speaker">Speaker</span></dt>
                <dd>
                    <div *ngIf="conference.speaker">
                        <a [routerLink]="['/speaker', conference.speaker?.id, 'view']">{{conference.speaker?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/conference', conference.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
